#Livello_1{
    height: 70%;
    width: auto;
    animation: 5s;
    margin: 20%;
    margin-left:60px;
}

.cls-2 {
    transition: transform 0.001ms; /* Sticking effect */
    transform: rotate(-15deg);
}


#Livello_2{
    width: 100px;
    animation: mymove 5s infinite;
    position: fixed;
    z-index: 6;
    transform: rotate(5deg);
}
.cls-1{
    fill:#93c01f;
    transition: 0.5s;
}

*{
    padding: 0;
    margin:0;
}

.header{
    transition: 0.2s height;
    width: 100%;
    height: 150px;
    background-color: bisque;
    position:fixed;
    display:flex;
    flex-direction: row;
}
#studio,
#grafica,
#stampa,
#insegne,
#promozionale,
#allestimenti{
    width: 100%;
    height: 30%;
}

#studio{
    background-color: #9BBC06;
}
#grafica{
    background-color: #D89BED;
}
#stampa{
    background-color: #44BBA4;
}
#insegne{
    background-color: #FF6F59;
}
#promozionale{
    background-color: #0B4F6C;
}
#allestimenti{
    background-color: #FFD400;
}



