#Livello_1{
    width: 100px;
    margin:30px;
    animation: mymove 5s infinite;
}
/*
@keyframes mymove {
    100% {transform: rotate(360deg);}
}*/
.cls-1{
    fill:#93c01f;
    transition: 2s;
}
.cls-1:hover{
    fill:red;
    transition: 1s;
}

*{
    padding: 0;
    margin:0;
}

.header{
    width: 100%;
    height: auto;
    background-color: beige;
    position:fixed;
}


