#Livello_1{
    width: 100px;
    margin:30px;
    animation: mymove 5s infinite;
}

.cls-2 {
    transition: transform 0.001ms; /* Sticking effect */
    pointer-events: none; /* Allow clicking trough the div */
    
}



#Livello_2{
    width: 100px;
    animation: mymove 5s infinite;
    position: fixed;
    z-index: 6;
}
.cls-1{
    fill:#93c01f;
    transition: 0.5s;
}

*{
    cursor: none;
    padding: 0;
    margin:0;
}

.header{
    width: 100%;
    height: auto;
    background-color: bisque;
    position:fixed;
    transition: 1s;
}
#studio,
#grafica,
#stampa,
#insegne,
#promozionale,
#allestimenti{
    width: 100%;
    height: 30%;
}

#studio{
    background-color: #9BBC06;
}
#grafica{
    background-color: #D89BED;
}
#stampa{
    background-color: #44BBA4;
}
#insegne{
    background-color: #FF6F59;
}
#promozionale{
    background-color: #0B4F6C;
}
#allestimenti{
    background-color: #FFD400;
}



